
# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.plan
crash.log
crash.*.log
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Node.js / Lambda
node_modules/
*.zip
lambdas/crop/dist/
lambdas/crop/build/
.terraform/
*.tfstate*
*.tfplan

# Credenciales
.env
.env.*
!.env.example
.aws/
**/.aws/
*.pem

# Sistema operativo
.DS_Store
Thumbs.db